@import '../../../styles/colors.scss';
@import '../../../styles/mediaQueries.scss';

.errorCard {
  background-color: $tertiary;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: $black;
  max-width: 375px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba($black, 0.2);
}

.shruggingImage {
  margin: 20px 0;

  @include mobile-only {
    width: 150px;
    height: auto;
  }
}

.errorMessage {
  margin-top: 10px;
}