@import '../../../styles/colors.scss';
@import '../../../styles/mediaQueries';

.userGreetingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px 20px;

  @include tablet-or-wider {
    align-items: center;
  }

  .greetingSalute {
    color: $battleshipGrey;
  }

  .greetingTitle {
    margin: 10px 0;
  }
}
