@import '../../../styles/colors.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  text-align: center;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border-radius: 12px;
  padding: 10px;

  &.small {
    width: 40px;
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
  }

  &.large {
    padding: 15px 30px;
    font-size: 18px;
  }

  &.primary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: darken($primary, 10%);
    }

    &.outline {
      color: $primary;
      border: 1px solid $primary;
    }

    &.outline:hover {
      color: darken($primary, 10%);
      border: 1px solid darken($primary, 10%);
    }
  }

  &.secondary {
    background-color: $secondary;
    color: $black;

    &:hover {
      background-color: darken($secondary, 10%);
    }

    &.outline {
      color: $secondary;
      border: 1px solid $secondary;
    }

    &.outline:hover {
      color: darken($secondary, 10%);
      border: 1px solid darken($secondary, 10%);
    }
  }

  &.tertiary {
    background-color: $tertiary;
    color: $black;

    &:hover {
      background-color: darken($tertiary, 10%);
    }

    &.outline {
      color: $tertiary;
      border: 1px solid $tertiary;
    }

    &.outline:hover {
      color: darken($tertiary, 10%);
      border: 1px solid darken($tertiary, 10%);
    }
  }

  &.danger {
    background-color: $danger;
    color: $white;

    &:hover {
      background-color: darken($danger, 10%);
    }
  }

  &.warning {
    background-color: $warning;
    color: $black;

    &:hover {
      background-color: darken($warning, 10%);
    }
  }

  &.success {
    background-color: $success;
    color: $white;

    &:hover {
      background-color: darken($success, 10%);
    }
  }

  &.info {
    background-color: $info;
    color: $white;

    &:hover {
      background-color: darken($info, 10%);
    }
  }

  &.transparent {
    background-color: transparent;
    color: $black;
    border: none;
    border-radius: 0;
  }

  &.light {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: darken($white, 10%);
    }
  }

  &.dark {
    background-color: $jetBlack;
    color: $white;

    &:hover {
      background-color: darken($jetBlack, 10%);
    }

    &.outline {
      color: $jetBlack;
      border: 1px solid $jetBlack;
    }

    &.outline:hover {
      color: darken($jetBlack, 10%);
      border: 1px solid darken($jetBlack, 10%);
    }
  }

  &.gray {
    background-color: $battleshipGrey;
    color: $white;

    &:hover {
      background-color: darken($battleshipGrey, 10%);
    }

    &.outline {
      color: $battleshipGrey;
      border: 1px solid $battleshipGrey;
    }

    &.outline:hover {
      color: darken($primary, 10%);
      border: 1px solid darken($primary, 10%);
    }
  }

  &.outline {
    background-color: transparent;
  }

  &.outline:hover {
    background-color: transparent;
  }

  &.rounded {
    border-radius: 50px;
  }
}
