@import '../../../../styles/colors.scss';

.cardDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 0;
  width: 350px;
  font-family: 'DM Sans';

  .description {
    font-size: 14px;
    color: $battleshipGrey;
    .readMore {
      font-size: 14px;
      color: $primary;
      cursor: pointer;
    }
  }
}

.productSizes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 350px;

  .sizeButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .sizeButton {
      padding: 5px 10px;
      margin-top: 15px;
      margin-right: 10px;

      &.selected {
        border-color: $primary;
        color: $primary;
      }

      .sizeButtonText {
        font-size: 14px;
      }
    }
  }
}
