@import '../../../styles/colors.scss';

.footer {
  background-color: $tertiary;
  margin-top: 40px;
  font-size: 0.9em;

  .companyInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  .rightsReservedText {
    text-align: center;
    color: $jetBlack;
  }
}
