$white: #ffffff;
$black: #000000;
$primary: #ff9f24;
$secondary: #ffcf92;
$tertiary: #ffedd6;
$danger: #ff4d4f;
$warning: #faad14;
$success: #52c41a;
$info: #13c2c2;

$colors: (
  white: $white,
  black: $black,
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  danger: $danger,
  warning: $warning,
  success: $success,
  info: $info
);
