@import '../../../styles/mediaQueries';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .productListTitle {
    text-align: left;
    align-self: flex-start;
    margin: 10px 20px;

    @include tablet-or-wider {
      text-align: center;
      align-self: center;
    }
  }
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  width: 375px;
}
